/* Estilos personalizados para el input-password */
.input-icon{
  position: absolute;
  right: 10px;
  top: calc(50% - 0.5em); /* Keep icon in center of input, regardless of the input height */
}
.input-wrapper{
  position: relative;
}