-var carColor = ["AMARILLO","AZUL","BLANCO","CAFE","DORADO","GRIS","MORADO","NARANJA","NEGRO","PLATA","ROJO","VERDE"]

-function agregarCeros(valor){
  -if(valor < 10){
    -valor = '0'+valor
  -}
  -return valor;
-}

-function obtenerFecha(fecha){
  -var year = fecha.getFullYear();
  -var month = agregarCeros(fecha.getMonth()+1);
  -var day = agregarCeros(fecha.getDate());
  -return year + '-' + month + '-' + day;
-}

-function obtenerHora(fecha){
  //-var jorge = (new Date(fecha.getTime() + 18000000))
  //-return agregarCeros(jorge.getHours()) + ':' + agregarCeros(jorge.getMinutes())
  -return agregarCeros(fecha.getHours()) + ':' + agregarCeros(fecha.getMinutes())
-}

-function formatoFecha(oldDate) {
  -var month = ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"];
  -var days = ["Domingo", "Lunes", "Martes", "Miercoles", "Jueves", "Viernes", "Sabado"];
  -return days[oldDate.getDay()] + ", " + month[oldDate.getMonth()]  + " " + agregarCeros(oldDate.getDate()) +" de " + oldDate.getFullYear() + " @" + agregarCeros(oldDate.getHours()) + ':' + agregarCeros(oldDate.getMinutes());
-}

-function checkSelectedValue(value1, value2) {
  -var retorno = ""
  -if(value1 == value2){
    -retorno = true
  -}
  -else{
    -retorno = false
  -}
  -return retorno
-}

-function getFullDate(fecha){
  -var year = fecha.getFullYear();
  -var month = agregarCeros(fecha.getMonth()+1);
  -var day = agregarCeros(fecha.getDate());
  -var hour = agregarCeros(fecha.getHours());
  -var minute = agregarCeros(fecha.getMinutes());
  -var second = agregarCeros(fecha.getSeconds());
  -return year + month + day + hour + minute + second;
-}

-function round(number) {
  -return Math.round( number * 10 ) / 10;
-}