extends ../includes/mainLayout.pug
block contentWraper
  - const PAGE_NAME = 'Empleados';
  script.
    //- Se debe asignar el estado activo al menuItem correspondiente
    $('#menuItem_#{PAGE_NAME}').addClass('active');

  // Content Wrapper. Contains page content
  .content-wrapper
    // Content Header (Page header)
    section.content-header
      .container-fluid
        .row.mb-2
          .col-sm-6
            h1 #{PAGE_NAME} / Ver / #{data.firstName} #{data.lastName}
            //.col-sm-4
              br
              button.btn.btn-block.btn-primary(type='button' onclick="alert('Pendiente agregar funcionalidad')") Agregar empleado
          .col-sm-6
            ol.breadcrumb.float-sm-right
              li.breadcrumb-item
                a(href='/web?token=' + token) Home
              li.breadcrumb-item
                a(href='/web/employees?token=' + token) #{PAGE_NAME}
              li.breadcrumb-item.active #{data.firstName} #{data.lastName}

      // /.container-fluid
    // Main content
    section.content
      .card.card-primary
        .card-header
          h3.card-title Datos del Empleado
        .card-body
          form
            .row
              .col-sm-4
                .card.card-outline.card-primary
                  .card-header
                    h3.card-title Avatar
                  .card-body
                    .form-group
                      .text-center
                        img.profile-user-img.img-fluid.img-circle(src='/public/images/avatars/' + data._id onerror="this.src='/public/images/avatars/default_avatar.png'" alt='User profile picture')
                  //.card-body
                    .form-group
                      label Cargar imagen de usuario
                      .input-group
                        .custom-file
                          input#inputFile.custom-file-input(type='file' name='avatar')
                          label.custom-file-label(for='inputFile') Seleccione un archivo
                        .input-group-append
                          span.input-group-text Upload
              .col-sm-8
                .card.card-outline.card-primary
                  .card-header
                    h3.card-title Datos de usuario
                  .card-body
                    .row
                      .col-sm-6
                        .form-group
                          label Email 
                          p #{data.email}
                      .col-sm-6
                        .form-group
                          label Contraseña
                          p •••••••••••••••••••••
                    .row
                      .col-sm-6
                        .form-group
                          label Nombres
                          p #{data.firstName}
                      .col-sm-6
                        .form-group
                          label Apellidos
                          p #{data.lastName}
                    .row
                      .col-sm-6
                        .form-group
                          label Cédula
                          p #{data.documentId}
                      .col-sm-6
                        .form-group
                          label Teléfono fijo
                          p #{data.phone}
                    .row
                      .col-sm-6
                        .form-group
                          label Teléfono celular
                          p #{data.cellphone}
                      .col-sm-6
                        .form-group
                          label Estado
                          p
                            if data.status == true
                              span(class="badge badge-success") ACTIVADO
                            else 
                              span(class="badge badge-danger") DESACTIVADO
        .card-footer
          button.btn.btn-primary(type='submit' onclick='location.href="/web/employees/user/' + data._id + '?type=edit&token=' + token + '"') Modificar
          | &nbsp;&nbsp;&nbsp;
          button.btn.btn-default(type='button' onclick='location.href="/web/employees?token=' + token + '"') Volver
