extends ../includes/mainLayout.pug
block contentWraper
  include ../includes/passwordRequirements
  - const PAGE_NAME = 'Empleados';

  script.
    //- Se debe asignar el estado activo al menuItem correspondiente
    $('#menuItem_#{PAGE_NAME}').addClass('active');

    $(document).on("submit", "form", function(e){
      e.preventDefault();
      let formValues = $("#idForm").serializeArray();      
      let checkeo = validateForm(formValues, [])

      if(checkeo) {
        $.ajax({
          type: $("#idForm").attr('method'),
          url: $("#idForm").attr('action'),
          data: $("#idForm").serialize(), // serializes the form's elements.
          success: function(data) {
            if(!data.success) {
              let warningMessage = '';
              if(typeof data.message == 'object') {
                warningMessage = data.message.message;
              }
              else {
                warningMessage = data.message;
              }
              sweetMessage('warning', warningMessage);
            }
            else {
              sweetMessageThen('#{process.env.SITENAME}', 'success', data.message, () => {
                location.href="/web/employees/user/" + data.data._id + "?type=edit&token=#{token}";
              })
            }
          },
          error: function(error) {
            sweetMessage('error', error.status + ': ' +  error.statusText);
          }
        });
      }
    });

  // Content Wrapper. Contains page content
  .content-wrapper
    // Content Header (Page header)
    section.content-header
      .container-fluid
        .row.mb-2
          .col-sm-6
            h1 #{PAGE_NAME} / Crear
          .col-sm-6
            ol.breadcrumb.float-sm-right
              li.breadcrumb-item
                a(href='/web?token=' + token) Home
              li.breadcrumb-item
                | #{PAGE_NAME}
              

      // /.container-fluid
    // Main content
    section.content
      .card.card-primary
        .card-header
          h3.card-title Datos del Empleado
        .card-body
          form(action='/web/employees/user?token=' + token method='POST' id="idForm")
            .row
              .col-sm-4
                //.card.card-outline.card-primary(style="display:block;")
                  //.card-header
                    h3.card-title Avatar
                  //.card-body
                    .form-group
                      .text-center
                        img.profile-user-img.img-fluid.img-circle(id='userAvatar' src='/public/images/avatars/' + data._id onerror='this.src="/public/images/avatars/default_avatar.png"' alt='User profile picture')
                  //.card-body
                    .form-group
                      label Cargar imagen de usuario
                      .input-group
                        .custom-file
                          input#inputFile.custom-file-input(type='file' name='avatar' onMouseOver="this.style.cursor='pointer'")
                          label.custom-file-label(for='inputFile') Seleccione un archivo
                        .input-group-append
                          span.input-group-text(onclick="uploadAvatar('inputFile', 'avatarUploadOverlay')" onMouseOver="this.style.cursor='pointer'") Upload
                  //.card-footer
                    i
                      b Nota: 
                      | Solo se admiten formatos de imagen png, jpg y bmp no mayores a 1mb.
              .col-sm-8
                .card.card-outline.card-primary
                  .card-header
                    h3.card-title Datos de usuario
                  .card-body
                    .row
                      .col-sm-6
                        .form-group
                          label Email 
                          input.form-control(type='email' name='email' value='' autofocus)
                      .col-sm-6
                        .form-group
                          label Contraseña
                          //input.form-control(type='password' id="password" name='password' value='')
                          .input-wrapper
                            input.form-control.pr-password(type='password' id="password" name='password' value='')
                            label.fa.fa-eye-slash.input-icon(for='password' id='passwordLabel' role='button' title='Mostrar password' onclick="changeInputPassword('password')")
                    .row
                      .col-sm-6
                        .form-group
                          label Nombres
                          input.form-control(type='text' name='firstName' value='')
                      .col-sm-6
                        .form-group
                          label Apellidos
                          input.form-control(type='text' name='lastName' value='')
                    .row
                      .col-sm-6
                        .form-group
                          label Cédula
                          input.form-control(type='text' name='documentId' value='')
                      .col-sm-6
                        .form-group
                          label Teléfono fijo
                          input.form-control(type='text' name='phone' value='')
                    .row
                      .col-sm-6
                        .form-group
                          label Teléfono celular
                          input.form-control(type='text' name='cellphone' value='')
                      .col-sm-6
                        .form-group
                          label Estado
                          select.form-control(name='status')
                            option(value='') &nbsp;
                            option(value='true') Activado
                            option(value='false') Desactivado
                  .card-footer
                    i
                      b Nota: 
                      | Por favor elegir una de al menos 8 caracteres.

        .card-footer
          button.btn.btn-primary(type='submit' onclick='Javascript: $("#idForm").submit();') Guardar
          | &nbsp;&nbsp;&nbsp;
          button.btn.btn-default(type='button' onclick='location.href="/web/employees?token=' + token + '"') Volver
        .overlay(id='avatarUploadOverlay' style='display:none;')
          i.fas.fa-2x.fa-sync-alt.fa-spin

  //- Script para cargar el fileinput personalizado
  script(src='/public/lib/AdminLTE-3.2.0/plugins/bs-custom-file-input/bs-custom-file-input.min.js')
  script.
    $(function () {
      bsCustomFileInput.init();
    });

    $(document).ready(function (){
      $(".pr-password").passwordRequirements({
        //style: 'dark'
      });
    });
