extends ../includes/mainLayout.pug
block contentWraper
  include ../includes/passwordRequirements
  - const PAGE_NAME = 'Empleados';
  script.
    //- Se debe asignar el estado activo al menuItem correspondiente
    $('#menuItem_#{PAGE_NAME}').addClass('active');

    const toBase64 = file => new Promise((resolve, reject) => {
      const reader = new FileReader();
      reader.readAsDataURL(file);
      reader.onload = () => resolve(reader.result);
      reader.onerror = error => reject(error);
    });

    async function readImage(inputFileId, callback) {
      const file = document.querySelector('#' + inputFileId).files[0];
      if(!file.type.includes('image') || file.size > 1048576) {
        callback(false);
      }
      else {
        let retorno = await toBase64(file);
        callback(retorno);
      }
    }

    function uploadAvatar(inputFileId, loadingOverlayId) {
      if($('#' + inputFileId).val() == '') {
        sweetMessage('warning', 'Por favor, seleccione un archivo de imagen para cargar');
      }
      else {
        readImage(inputFileId, function(base64FileContent) {
          if(!base64FileContent){
            sweetMessage('error', 'El archivo tiene un formato no permitido o es demasiado grande');
          }
          else {
            //- Muestra el overlay de carga para evitar modificaciones mientras la función asíncrona termina
            $('#' + loadingOverlayId).show();
            $.ajax({
              type: 'PUT',
              url: '/web/employees/changePicture/#{data._id}?token=#{token}',
              data: JSON.stringify({ imageData: base64FileContent}),
              contentType: 'application/json; charset=utf-8',
              success: function(data) {
                if(!data.success) {
                  sweetMessage('warning', data.message);
                }
                else {
                  sweetMessageThen('#{process.env.SITENAME}', 'success', data.message, () => {
                    $('#userAvatar').attr('src', '/public/images/avatars/#{data._id}?v' + getFullDate(new Date()));
                    $('#' + loadingOverlayId).hide();
                  })

                }
              },
              error: function(error) {
                sweetMessage('error', error.status + ': ' +  error.statusText);
              }
            });
          }
        });
      }
    }

    $(document).on("submit", "form", function(e){
      e.preventDefault();
      let formValues = $("#idForm").serializeArray();
      let checkeo = validateForm(formValues, ['password'])

      if(checkeo) {
        $.ajax({
          type: $("#idForm").attr('method'),
          url: $("#idForm").attr('action'),
          data: $("#idForm").serialize(), // serializes the form's elements.
          success: function(data) {
            if(!data.success) {
              sweetMessage('warning', data.message);
            }
            else {
              sweetMessage('success', data.message);
              $('#password').val('');
            }
          },
          error: function(error) {
            sweetMessage('error', error.status + ': ' +  error.statusText);
          }
        });
      }
    });

  // Content Wrapper. Contains page content
  .content-wrapper
    // Content Header (Page header)
    section.content-header
      .container-fluid
        .row.mb-2
          .col-sm-6
            h1 #{PAGE_NAME} / Editar / #{data.firstName} #{data.lastName}
            //.col-sm-4
              br
              button.btn.btn-block.btn-primary(type='button' onclick="alert('Pendiente agregar funcionalidad')") Agregar empleado
          .col-sm-6
            ol.breadcrumb.float-sm-right
              li.breadcrumb-item
                a(href='/web?token=' + token) Home
              li.breadcrumb-item
                a(href='/web/employees?token=' + token) #{PAGE_NAME}
              li.breadcrumb-item.active #{data.firstName} #{data.lastName}

      // /.container-fluid
      // Main content
      section.content
        .card.card-primary
          .card-header
            h3.card-title Datos del Empleado
          .card-body
            form(action='/web/employees/user/' + data._id + '?token=' + token method='PUT' id="idForm")
              .row
                .col-sm-4
                  .card.card-outline.card-primary
                    .card-header
                      h3.card-title Avatar
                    .card-body
                      .form-group
                        .text-center
                          img.profile-user-img.img-fluid.img-circle(id='userAvatar' src='/public/images/avatars/' + data._id onerror='this.src="/public/images/avatars/default_avatar.png"' alt='User profile picture')
                    .card-body
                      .form-group
                        label Cargar imagen de usuario
                        .input-group
                          .custom-file
                            input#inputFile.custom-file-input(type='file' name='avatar' onMouseOver="this.style.cursor='pointer'")
                            label.custom-file-label(for='inputFile') Seleccione un archivo
                          .input-group-append
                            span.input-group-text(onclick="uploadAvatar('inputFile', 'avatarUploadOverlay')" onMouseOver="this.style.cursor='pointer'") Upload
                    .card-footer
                      i
                        b Nota: 
                        | Solo se admiten formatos de imagen png, jpg o bmp no mayores a 1mb.
                .col-sm-8
                  .card.card-outline.card-primary
                    .card-header
                      h3.card-title Datos de usuario
                    .card-body
                      .row
                        .col-sm-6
                          .form-group
                            label Email 
                            input.form-control(type='email' name='email' value='' + data.email disabled)
                        .col-sm-6
                          .form-group
                            label Contraseña
                            .input-wrapper
                              input.form-control.pr-password(type='password' id="password" name='password' value='')
                              label.fa.fa-eye-slash.input-icon(for='password' id='passwordLabel' role='button' title='Mostrar password' onclick="changeInputPassword('password')")
                      .row
                        .col-sm-6
                          .form-group
                            label Nombres
                            input.form-control(type='text' name='firstName' value='' + data.firstName)
                        .col-sm-6
                          .form-group
                            label Apellidos
                            input.form-control(type='text' name='lastName' value='' + data.lastName)
                      .row
                        .col-sm-6
                          .form-group
                            label Cédula
                            input.form-control(type='text' name='documentId' value='' + data.documentId)
                        .col-sm-6
                          .form-group
                            label Teléfono fijo
                            input.form-control(type='text' name='phone' value='' + data.phone)
                      .row
                        .col-sm-6
                          .form-group
                            label Teléfono celular
                            input.form-control(type='text' name='cellphone' value='' + data.cellphone)
                        .col-sm-6
                          .form-group
                            label Estado
                            select.form-control(name='status')
                              if checkSelectedValue(true, data.status)
                                option(value='true' selected) Activado
                              else
                                option(value='true') Activado
                              if checkSelectedValue(false, data.status)
                                option(value='false' selected) Desactivado
                              else
                                option(value='false') Desactivado
                    .card-footer
                      i
                        b Nota: 
                        | Al dejar la contraseña en blanco, esta no se actualizará. Si desea cambiarla, por favor elegir una de al menos 8 caracteres.

          .card-footer
            button.btn.btn-primary(type='submit' onclick='Javascript: $("#idForm").submit();') Guardar
            | &nbsp;&nbsp;&nbsp;
            button.btn.btn-default(type='button' onclick='location.href="/web/employees?token=' + token + '"') Volver
          .overlay(id='avatarUploadOverlay' style='display:none;')
            i.fas.fa-2x.fa-sync-alt.fa-spin

  //- Script para cargar el fileinput personalizado
  script(src='/public/lib/AdminLTE-3.2.0/plugins/bs-custom-file-input/bs-custom-file-input.min.js')
  script.
    $(function () {
      bsCustomFileInput.init();
    });

    $(document).ready(function (){
      $(".pr-password").passwordRequirements({
      });
    });
