extends ../includes/mainLayout.pug
block contentWraper
  include ../includes/datatables_css
  - const PAGE_NAME = 'Proveedores';
  script.
    //- Se debe asignar el estado activo al menuItem correspondiente
    $('#menuItem_#{PAGE_NAME}').addClass('active');

  // Content Wrapper. Contains page content
  .content-wrapper
    // Content Header (Page header)
    section.content-header
      .container-fluid
        .row.mb-2
          .col-sm-6
            h1 #{PAGE_NAME}
            .col-sm-4
              br
              button.btn.btn-block.btn-primary(type='button' onclick="alert('Pendiente agregar funcionalidad')") Agregar proveedor
          .col-sm-6
            ol.breadcrumb.float-sm-right
              li.breadcrumb-item
                a(href='#') Home
              li.breadcrumb-item.active #{PAGE_NAME}
      // /.container-fluid
    // Main content
    section.content
      .container-fluid
        .row
          .col-12
            .card
              //.card-header
                h3.card-title DataTable with default features
              // /.card-header
              .card-body
                table(id="tabla1_" + PAGE_NAME class="table table-bordered table-striped")
                  thead
                    tr
                      th Id
                      th Empresa
                      th Fecha de creación
                      th Estado
                      th Acciones
                  tbody
                    each supplier in data
                      tr
                        td #{supplier._id}
                        td #{supplier.supplierName}
                        td #{formatoFecha(new Date(supplier.supplierRegistrationDate))}
                        td
                          if supplier.supplierStatus == true
                            span(class="badge badge-success") ACTIVADO
                          else 
                            span(class="badge badge-danger") DESACTIVADO
                        td
                          a.btn.btn-primary.btn-sm(href='Javascript: alert("Ver objeto")')
                            i.fas.fa-folder
                            |  Ver
                          | &nbsp;&nbsp;
                          a.btn.btn-info.btn-sm(href='Javascript: alert("Modificar objeto")')
                            i.fas.fa-pencil-alt
                            |  Editar
                  tfoot
                    tr
                      th Id
                      th Nombre completo
                      th Fecha de creación
                      th Estado
                      th Acciones
              // /.card-body
            // /.card
          // /.col
        // /.row
      // /.container-fluid
    // /.content
  // /.content-wrapper

  include ../includes/datatables_js
  script.
    $(function () {
      let CUSTOM_DATATABLE_OPTIONS = {
        ...DEFAULT_DATATABLE_OPTIONS,
        order: [[ 1, "asc" ]]
      }
      $("#tabla1_#{PAGE_NAME}").DataTable(CUSTOM_DATATABLE_OPTIONS).buttons().container().appendTo('#tabla1_#{PAGE_NAME}_wrapper .col-md-6:eq(0)');
    });
