<!-- REQUIRED SCRIPTS -->

<!-- jQuery -->
//script(src="public/lib/AdminLTE-3.2.0/plugins/jquery/jquery.min.js")
<!-- Bootstrap 4 -->
script(src="/public/lib/AdminLTE-3.2.0/plugins/bootstrap/js/bootstrap.bundle.min.js")
<!-- AdminLTE App -->
script(src="/public/lib/AdminLTE-3.2.0/js/adminlte.min.js")


<!-- DataTables  & Plugins-->
//- script(src='/public/lib/AdminLTE-3.2.0/plugins/datatables/jquery.dataTables.min.js')
//- script(src='/public/lib/AdminLTE-3.2.0/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js')
//- script(src='/public/lib/AdminLTE-3.2.0/plugins/datatables-responsive/js/dataTables.responsive.min.js')
//- script(src='/public/lib/AdminLTE-3.2.0/plugins/datatables-responsive/js/responsive.bootstrap4.min.js')
//- script(src='/public/lib/AdminLTE-3.2.0/plugins/datatables-buttons/js/dataTables.buttons.min.js')
//- script(src='/public/lib/AdminLTE-3.2.0/plugins/datatables-buttons/js/buttons.bootstrap4.min.js')
//- script(src='/public/lib/AdminLTE-3.2.0/plugins/jszip/jszip.min.js')
//- script(src='/public/lib/AdminLTE-3.2.0/plugins/pdfmake/pdfmake.min.js')
//- script(src='/public/lib/AdminLTE-3.2.0/plugins/pdfmake/vfs_fonts.js')
//- script(src='/public/lib/AdminLTE-3.2.0/plugins/datatables-buttons/js/buttons.html5.min.js')
//- script(src='/public/lib/AdminLTE-3.2.0/plugins/datatables-buttons/js/buttons.print.min.js')
//- script(src='/public/lib/AdminLTE-3.2.0/plugins/datatables-buttons/js/buttons.colVis.min.js')


