<!-- Control Sidebar -->
aside(class="control-sidebar control-sidebar-dark")
  <!-- Control sidebar content goes here -->
  div(class="p-3")
    h5 Title
    p Sidebar content
<!-- /.control-sidebar -->