<!-- DataTables -->
link(rel='stylesheet' href='/public/lib/AdminLTE-3.2.0/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css')
link(rel='stylesheet' href='/public/lib/AdminLTE-3.2.0/plugins/datatables-responsive/css/responsive.bootstrap4.min.css')
link(rel='stylesheet' href='/public/lib/AdminLTE-3.2.0/plugins/datatables-buttons/css/buttons.bootstrap4.min.css')