<!-- Main Footer -->
footer(class="main-footer")
  <!-- To the right -->
  div(class="float-right d-none d-sm-inline")
    b Version
    |  #{process.env.APPVERSION}
  <!-- Default to the left -->
  strong
    | Copyright &copy; 2022 
    a(href="#") #{process.env.SITENAME}
    |  - Todos los derechos reservados.
  //strong
    | Copyright &copy; 2014-2021 
    a(href="https://adminlte.io") AdminLTE.io
    | All rights reserved.