doctype html
html(lang="es")
  head
    include topCodes
    link(rel='stylesheet' href='/public/lib/AdminLTE-3.2.0/plugins/icheck-bootstrap/icheck-bootstrap.min.css')
  body(class="hold-transition login-page")
    div(class="login-box")
      <!-- Content Wrapper. Contains page content -->
      block contentWraper
    <!-- REQUIRED SCRIPTS -->
    include belowCodes