doctype html
html(lang="es")
  head
    include topCodes
  body(class="hold-transition sidebar-mini")
    include ../lib/templateFunctions
    div(class="wrapper")
      <!-- Navbar -->
      include navBar
      <!-- Main Sidebar Container -->
      include mainSidebar
      <!-- Content Wrapper. Contains page content -->
      block contentWraper
      <!-- Control Sidebar -->
      include controlSidebar
      <!-- Main Footer -->
      include footer
    <!-- REQUIRED SCRIPTS -->
    include belowCodes