// Main Sidebar Container
aside.main-sidebar.sidebar-dark-primary.elevation-4
  // Brand Logo
  a.brand-link(href='/web?token=' + token)
    img.brand-image.img-circle.elevation-3(src='/public/images/icons/companyLogo_160x160.png' alt='' + process.env.SITENAME style='opacity: .8')
    span.brand-text.font-weight-light #{process.env.SITENAME}
  // Sidebar
  .sidebar
    // Sidebar user panel (optional)
    .user-panel.mt-3.pb-3.mb-3.d-flex
      .image
        img.img-circle.elevation-2(src='/public/images/avatars/' + user._id onerror="this.src='/public/images/avatars/default_avatar.png'" alt='User Image')
      .info
        a.d-block(href='/web?token=' + token) #{user.firstName} #{user.lastName}
    // SidebarSearch Form
    //.form-inline
      .input-group(data-widget='sidebar-search')
        input.form-control.form-control-sidebar(type='search' placeholder='Search' aria-label='Search')
        .input-group-append
          button.btn.btn-sidebar
            i.fas.fa-search.fa-fw
    // Sidebar Menu
    nav.mt-2
      ul.nav.nav-pills.nav-sidebar.flex-column(data-widget='treeview' role='menu' data-accordion='false')
        //
          Add icons to the links using the .nav-icon class
          with font-awesome or any other icon font library
        li.nav-item
          a.nav-link(id="menuItem_Dashboard" href='/web?token=' + token)
            i.nav-icon.fas.fa-tachometer-alt
            p
              | Dashboard
        li.nav-item
          a.nav-link(id="menuItem_Items" href='/web/items?token=' + token)
            i.nav-icon.fas.fa-database
            p
              | Items
        li.nav-item
          a.nav-link(id="menuItem_ItemsKit" href='/web/itemsKit?token=' + token)
            i.nav-icon.fas.fa-coins
            p
              | Kit de Items
        li.nav-item
          a.nav-link(id="menuItem_Proveedores" href='/web/suppliers?token=' + token)
            i.nav-icon.fas.fa-download
            p
              | Proveedores -> OK
        li.nav-item
          a.nav-link(id="menuItem_Reports" href='/web/reports?token=' + token)
            i.nav-icon.fas.fa-chart-line
            p
              | Reportes
        li.nav-item
          a.nav-link(id="menuItem_ReceiveMerchandise" href='/web/receiveMerchandise?token=' + token)
            i.nav-icon.fas.fa-cloud-download-alt
            p
              | Recibir Mercancía
        li.nav-item
          a.nav-link(id="menuItem_Sales" href='/web/sales?token=' + token)
            i.nav-icon.fas.fa-cash-register
            p
              | Ventas
        li.nav-item
          a.nav-link(id="menuItem_Deliveries" href='/web/deliveries?token=' + token)
            i.nav-icon.fas.fa-cart-arrow-down
            p
              | Domicilios
        li.nav-item
          a.nav-link(id="menuItem_Empleados" href='/web/employees?token=' + token)
            i.nav-icon.fas.fa-user-alt
            p
              | Empleados -> OK
        li.nav-item
          a.nav-link(id="menuItem_Settings" href='/web/settings?token=' + token)
            i.nav-icon.fas.fa-users-cog
            p
              | Configuración
        li.nav-item
          a.nav-link(href="Javascript: sweetExitConfirm('" + process.env.SITENAME + "', 'Estás a punto de cerrar sesión, estás seguro?')")
            i.nav-icon.fas.fa-sign-out-alt
            p
              | Salir
    // /.sidebar-menu
    // /.sidebar
