// Navbar
nav.main-header.navbar.navbar-expand.navbar-white.navbar-light
  // Left navbar links
  ul.navbar-nav
    li.nav-item
      a.nav-link(data-widget='pushmenu' href='#' role='button')
        i.fas.fa-bars
    li.nav-item.d-none.d-sm-inline-block
      a.nav-link(href='index3.html') Home
    li.nav-item.d-none.d-sm-inline-block
      a.nav-link(href='#') Contact
  // Right navbar links
  ul.navbar-nav.ml-auto
    // Navbar Search
    li.nav-item
      a.nav-link(data-widget='navbar-search' href='#' role='button')
        i.fas.fa-search
      .navbar-search-block
        form.form-inline
          .input-group.input-group-sm
            input.form-control.form-control-navbar(type='search' placeholder='Search' aria-label='Search')
            .input-group-append
              button.btn.btn-navbar(type='submit')
                i.fas.fa-search
              button.btn.btn-navbar(type='button' data-widget='navbar-search')
                i.fas.fa-times
    // Messages Dropdown Menu
    li.nav-item.dropdown
      a.nav-link(data-toggle='dropdown' href='#')
        i.far.fa-comments
        span.badge.badge-danger.navbar-badge 3
      .dropdown-menu.dropdown-menu-lg.dropdown-menu-right
        a.dropdown-item(href='#')
          // Message Start
          .media
            img.img-size-50.mr-3.img-circle(src='/public/lib/AdminLTE-3.2.0/img/user1-128x128.jpg' alt='User Avatar')
            .media-body
              h3.dropdown-item-title
                | Brad Diesel
                span.float-right.text-sm.text-danger
                  i.fas.fa-star
              p.text-sm Call me whenever you can...
              p.text-sm.text-muted
                i.far.fa-clock.mr-1
                |  4 Hours Ago
          // Message End
        .dropdown-divider
        a.dropdown-item(href='#')
          // Message Start
          .media
            img.img-size-50.img-circle.mr-3(src='/public/lib/AdminLTE-3.2.0/img/user8-128x128.jpg' alt='User Avatar')
            .media-body
              h3.dropdown-item-title
                | John Pierce
                span.float-right.text-sm.text-muted
                  i.fas.fa-star
              p.text-sm I got your message bro
              p.text-sm.text-muted
                i.far.fa-clock.mr-1
                |  4 Hours Ago
          // Message End
        .dropdown-divider
        a.dropdown-item(href='#')
          // Message Start
          .media
            img.img-size-50.img-circle.mr-3(src='/public/lib/AdminLTE-3.2.0/img/user3-128x128.jpg' alt='User Avatar')
            .media-body
              h3.dropdown-item-title
                | Nora Silvester
                span.float-right.text-sm.text-warning
                  i.fas.fa-star
              p.text-sm The subject goes here
              p.text-sm.text-muted
                i.far.fa-clock.mr-1
                |  4 Hours Ago
          // Message End
        .dropdown-divider
        a.dropdown-item.dropdown-footer(href='#') See All Messages
    // Notifications Dropdown Menu
    li.nav-item.dropdown
      a.nav-link(data-toggle='dropdown' href='#')
        i.far.fa-bell
        span.badge.badge-warning.navbar-badge 15
      .dropdown-menu.dropdown-menu-lg.dropdown-menu-right
        span.dropdown-header 15 Notifications
        .dropdown-divider
        a.dropdown-item(href='#')
          i.fas.fa-envelope.mr-2
          |  4 new messages
          span.float-right.text-muted.text-sm 3 mins
        .dropdown-divider
        a.dropdown-item(href='#')
          i.fas.fa-users.mr-2
          |  8 friend requests
          span.float-right.text-muted.text-sm 12 hours
        .dropdown-divider
        a.dropdown-item(href='#')
          i.fas.fa-file.mr-2
          |  3 new reports
          span.float-right.text-muted.text-sm 2 days
        .dropdown-divider
        a.dropdown-item.dropdown-footer(href='#') See All Notifications
    li.nav-item
      a.nav-link(data-widget='fullscreen' href='#' role='button')
        i.fas.fa-expand-arrows-alt
    li.nav-item
      a.nav-link(data-widget='control-sidebar' data-slide='true' href='#' role='button')
        i.fas.fa-th-large
// /.navbar
