script(src="/public/lib/validate-password-requirements-1.1/js/jquery.passwordRequirements.js")
link(rel="stylesheet" href="/public/lib/validate-password-requirements-1.1/css/jquery.passwordRequirements.css")