title #{process.env.SITENAME}
meta(charset="utf-8")
meta(name="viewport" content="width=device-width, initial-scale=1")
<!-- Google Font: Source Sans Pro -->
link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback")
<!-- Font Awesome Icons -->
link(rel="stylesheet" href="/public/lib/AdminLTE-3.2.0/plugins/fontawesome-free/css/all.min.css")
<!-- Theme style -->
link(rel="stylesheet" href="/public/lib/AdminLTE-3.2.0/css/adminlte.min.css")
<!-- Sweet Alert2 -->
script(src="/public/lib/sweetalert2-11.4.8/sweetalert2.all.min.js")
<!-- Site Common Functions -->
script(src="/public/js/commonFunctions.js")
<!-- Site Common Styles-->
link(rel="stylesheet" href="/public/css/commonStyles.css")
<!-- JQuery -->
script(src="/public/lib/AdminLTE-3.2.0/plugins/jquery/jquery.min.js")