extends includes/mainLayout.pug
block contentWraper
  - const PAGE_NAME = 'Dashboard';
  script.
    //- Se debe asignar el estado activo al menuItem correspondiente
    $('#menuItem_#{PAGE_NAME}').addClass('active');
  // Content Wrapper. Contains page content
  .content-wrapper
    // Content Header (Page header)
    .content-header
      .container-fluid
        .row.mb-2
          .col-sm-6
            h1.m-0 #{PAGE_NAME}
          // /.col
          .col-sm-6
            ol.breadcrumb.float-sm-right
              li.breadcrumb-item
                a(href='#') Home
              li.breadcrumb-item.active #{PAGE_NAME}
          // /.col
        // /.row
      // /.container-fluid
    // /.content-header
    // Main content
    .content
      .container-fluid
        .row
          .col-lg-6
            .card
              .card-body
                h5.card-title Card title
                p.card-text
                  | Some quick example text to build on the card title and make up the bulk of the card&apos;s
                  | content.
                a.card-link(href='#') Card link
                a.card-link(href='#') Another link
            .card.card-primary.card-outline
              .card-body
                h5.card-title Card title
                p.card-text
                  | Some quick example text to build on the card title and make up the bulk of the card&apos;s
                  | content.
                a.card-link(href='#') Card link
                a.card-link(href='#') Another link
            // /.card
          // /.col-md-6
          .col-lg-6
            .card
              .card-header
                h5.m-0 Featured
              .card-body
                h6.card-title Special title treatment
                p.card-text With supporting text below as a natural lead-in to additional content.
                a.btn.btn-primary(href='#') Go somewhere
            .card.card-primary.card-outline
              .card-header
                h5.m-0 Featured
              .card-body
                h6.card-title Special title treatment
                p.card-text With supporting text below as a natural lead-in to additional content.
                a.btn.btn-primary(href='#') Go somewhere
          // /.col-md-6
        // /.row
      // /.container-fluid
    // /.content
  // /.content-wrapper
