extends includes/mainLayout.pug
block contentWraper
  - const PAGE_NAME = 'Página de error';
  //script.
    //- Se debe asignar el estado activo al menuItem correspondiente
    $('#menuItem_#{PAGE_NAME}').addClass('active');

  // Content Wrapper. Contains page content
  .content-wrapper
    // Content Header (Page header)
    section.content-header
      .container-fluid
        .row.mb-2
          .col-sm-6
            h1 #{PAGE_NAME}
          .col-sm-6
            ol.breadcrumb.float-sm-right
              li.breadcrumb-item
                a(href='#') Home
              li.breadcrumb-item.active #{PAGE_NAME}
      // /.container-fluid
    // Main content
    section.content
      .error-page
        //h2.headline.text-warning  500
        .error-content
          h3
            i.fas.fa-exclamation-triangle.text-warning
            |  Oops! Algo ha salido mal.
          p
            | #{error}
            br
            a(href='/web?token=' + token) return to dashboard
            //|  or try using the search form.
          //form.search-form
            .input-group
              input.form-control(type='text' name='search' placeholder='Search')
              .input-group-append
                button.btn.btn-warning(type='submit' name='submit')
                  i.fas.fa-search
            // /.input-group
        // /.error-content
      // /.error-page
    // /.content
  // /.content-wrapper
