extends includes/loginLayout.pug
block contentWraper
  script.
    $(document).on("submit", "form", function(e){
      e.preventDefault();
      let formValues = $("#idForm").serializeArray();

      if(formValues[0].value == '') {
        sweetMessage('warning', 'Por favor, no deje campos vacíos');
      }
      else {
        $.ajax({
          type: $("#idForm").attr('method'),
          url: $("#idForm").attr('action'),
          data: $("#idForm").serialize(), // serializes the form's elements.
          success: function(data) {
            // Valida si el resultado es correcto
            if(!data.success) {
              sweetMessage('warning', data.message);
            }
            else {
              //- sweetMessage('warning', data.message);
              Swal.fire({
                icon: 'info',
                confirmButtonColor: "#0069d9",
                titleText: '#{process.env.SITENAME}',
                text: data.message,
              }).then((result) => {
                $(location).attr('href', '#{process.env.DOMAIN}');
              });
            }
          }
        });
      }
    });
  .login-box
    .login-box
      // /.login-logo
      .card.card-outline.card-primary
        .card-header.text-center
          a.h1(href='' + process.env.DOMAIN)
            b #{process.env.SITENAME}
        .card-body
          .card.card-primary
            .card-header
              h3.card-title Recuperar contraseña
            // /.card-header
            // form start
            form(id='idForm' method="POST" action='/forgotPassword')
              .card-body
                p Ingresa tu correo electrónico y te enviaremos de vuelta un link par resetear tu password
                .form-group
                  label(for='exampleInputEmail1') Email address
                  input.form-control(type='email' id="email" name="email" placeholder='Enter email' autofocus)
              .card-footer
                button.btn.btn-primary(type='submit') Submit
                | &nbsp;&nbsp;&nbsp;
                button.btn.btn-default(type='button' onclick='location.href="/"') Volver