extends includes/loginLayout.pug
block contentWraper
  script.
    $(document).on("submit", "form", function(e){
      e.preventDefault();
      let formValues = $("#idForm").serializeArray();

      //- Valida campos vacíos
      if(formValues[0].value == '' || formValues[1].value == '') {
        sweetMessage('warning', 'Por favor, no deje campos vacíos');
      }
      else {
        $.ajax({
          type: $("#idForm").attr('method'),
          url: $("#idForm").attr('action'),
          data: $("#idForm").serialize(), // serializes the form's elements.
          success: function(data) {
            if(!data.success) {
              sweetMessage('warning', data.message);
            }
            else {
              $(location).attr('href', data.redirect);
            }
          }
        });
      }
    });
  .login-box
    .login-box
      // /.login-logo
      .card.card-outline.card-primary
        .card-header.text-center
          a.h1(href='/')
            b #{process.env.SITENAME}
        .card-body
          //p.login-box-msg Sign in to start your session
          center
            img(src="/public/images/icons/company_logo.png" width="200px")
          p
          form(action='/login' method='POST' id="idForm")
            .input-group.mb-3
              input.form-control(type='email' name="email" id='email' placeholder='Email' autofocus)
              .input-group-append
                .input-group-text
                  span.fas.fa-envelope
            .input-group.mb-3
              input.form-control(type='password' name="password" id='password' placeholder='Password')
              .input-group-append
                .input-group-text
                  span.fas.fa-lock
            .row
              .col-8
                a(href='/forgotPassword') I forgot my password
                //.icheck-primary
                  input#remember(type='checkbox')
                  label(for='remember')
                    | Remember Me
              // /.col
              .col-4
                button.btn.btn-primary.btn-block(type='submit') Sign  In
            // /.col
          //.social-auth-links.text-center.mt-2.mb-3
            a.btn.btn-block.btn-primary(href='#')
              i.fab.fa-facebook.mr-2
              |  Sign in using Facebook
            a.btn.btn-block.btn-danger(href='#')
              i.fab.fa-google-plus.mr-2
              |  Sign in using Google+
          // /.social-auth-links
          //p.mb-1
            a(href='/forgotPassword') I forgot my password
          //p.mb-0
            a.text-center(href='register.html') Register a new membership
        // /.card-body
      // /.card
    // /.login-box